@using PagedList
@using PagedList.Mvc
@model IPagedList<MiniBlog.Models.Author>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>E-Posta Adresi</th>
                    <th>Ad Soyad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Email</td>
                        <td>@a.Name @a.Surname</td>
                        <td>
                            @if (@HttpContext.Current.User.Identity.Name != @a.AuthorID.ToString())
                            {
                                <button type="button" data-href="/User/Delete/@a.AuthorID" data-toggle="modal" data-target="#modalConfirmDelete" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Sil</button>
                            }
                            <button type="button" class="btn btn-xs btn-primary" onclick="users.edit(@a.AuthorID);"><i class="fa fa-pencil"></i> Düzenle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="pagedList">
                    @Html.PagedListPager(
                        Model,
                        page => Url.Action("List", new { page = page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divUsers" })
                    )
                </div>
            </div>
        </div>
    </div>
</div>