@model IEnumerable<MiniBlog.Models.Category>
@if (!System.Configuration.ConfigurationManager.AppSettings["site_theme_page"].ToString().Contains("/Default"))
{
    @Html.Partial(System.Configuration.ConfigurationManager.AppSettings["site_theme"].ToString() + "/Pages/_Categories.cshtml", Model)
}
else
{
    <div class="panel panel-info divKategoriler">
        <div class="panel-heading">
            <i class="fa fa-list"></i> Kategoriler
        </div>
        <div class="panel-body">
            <ul>
                @foreach (var c in Model)
                {
                    <li><a href="@Url.Action("Category", "Article", new { category = @Url.FriendlyURLTitle(c.CategoryName), CategoryID = @c.CategoryID })">@c.CategoryName</a></li>
                }
            </ul>
        </div>
    </div>
}