@model MiniBlog.Models.MenuModel
@foreach (var item in Model.Pages)
{
    <li class="@Model.ListItemClass">
        <a class="@Model.TextItemClass" href="@Url.Action("Page", "Home", new { friendurl = @Url.FriendlyURL(item.FriendlyName), id = @item.PageID })">@item.Title</a>
    </li>
}